*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    
}
:root{
    --para:'Asap Condensed', sans-serif
    
}
/* nav start */
nav{
    background-color: black;
    height: 100px;
    width: auto;
    position: sticky;
    top: 0;
    z-index: 100;
    padding: 0px 100px;
    align-items: center;
}

.order-now{
    color: white;
}
.more{
    background-color: black;
    width: fit-content;
    height: fit-content;
    margin: auto;
    color: white;
    margin-top: 40px;
    padding: 10px 25px;
}
.color{
    color: white;
}
/* toggle start */
#toggle{
    display: none;
}
.starting-page{
    width: 90%;
    height: fit-content;
    margin: auto;
    margin-top: 15px;
}
.starting-boxes{
    width: 28vmin;
    height: 30vmin;
    background-color: black;
    padding: 1em 0;
    font-size: 15px;
    border-left: 1px solid gold;
    border-right: 1px solid gold;
}
span.text{
color: white;
font-size: 2em;

}
span.num{
    color: white;
    font-weight: 600;
    font-size: 3em;
}
.food-container{
    width: 90%;
    height: 300px;
    margin-top: 15px !important;
    margin: auto;
}

.food-recipee{
    width: 49%;
    height: 300px;

}
.food-box1{
    background-image: url(../image/vegetable_soup_recipe.webp);
    background-size: cover;
    background-position: center;
    width: 49%;
    height: 300px;
}
.food-box2{
    background-image: url(../image/one-pot-ghanaian-jollof-rice.jpg);
    background-size: cover;
    background-position: center;
    width: 49%;
    height: 300px;
}
.food-box3{
    background-image: url(../image/beans2.jfif);
    background-size: cover;
    background-position: center;
    width: 49%;
    height: 300px;
}
.last-container{
    background-color: black;
    width: 100%;
    height: 200px;
    margin-top: 15px;
    
  
}
   .small-last-container{
    width: 30%;
    height: 200px;
   
    

    
   }
.last-paragraph{
    color: white;
    text-align: center;
}

@media only screen and (max-width:767px){
    #toggle{
        display: inline-block !important;
        
    }
    .nav-content{
        display: none;
    }
    .paragraph1{
        text-align: center;
        color: black;
    }
   
    .dropdown{
        position: relative;
        display: inline-block;
    }
    .dropdown-content{
        position: absolute;
        background-color: white;
        min-width: fit-content;
        padding: 10px;
        z-index: 100px;
        display: none;
        width: 180px;
    }
    .dropdown:hover .dropdown-content{
        display: block;
    }
    .dropdown-content a{
        display: block;
        margin: 5px auto;
        padding: 10px 20px;
        transition: 0.5 ease-out;
        color: rgb(18, 18, 56);
    }
    .dropdown-content a:hover{
        color: gold;
        font-size: 20px;
    }
    nav{
        padding-right: 150px;
        padding-left: 30px;
    }
    .collection{
        display: none;
    }
    .heading1{
        font-size: 15px;

    }
    .starting-boxes{
        width: 45%;
        height: 200px;
        margin-top: 10px;
     }
     .starting-page{
        flex-wrap: wrap;
        width: 90%;
     }
     .food-container{
        width: 90%;
        height: fit-content;
        margin-top: 15px !important;
        margin: auto;
        display: block !important;
    }
    .food-box1{
        background-image: url(../image/vegetable_soup_recipe.webp);
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 300px;
    }
    .food-box2{
        background-image: url(../image/one-pot-ghanaian-jollof-rice.jpg);
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 300px;
    }
    .food-recipee{
        width: 100%;
        height: fit-content;
     
    }
    .food-box3{
        background-image: url(../image/beans2.jfif);
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 300px;
    }
    .last-container{
        display: block;
        height: fit-content;
    }
    .small-last-container{
        margin-top: 20px;
        width: 50%;
    }
}
@media only screen and (max-width:976px){
    #toggle{
        display: inline-block !important;
        
    }
    .nav-content{
        display: none;
    }
    .paragraph1{
        text-align: center;
        color: black;
    }


    .dropdown{
        position: relative;
        display: inline-block;
    }
    .dropdown-content{
        position: absolute;
        background-color: white;
        min-width: fit-content;
        padding: 10px;
        z-index: 100px;
        display: none;
        width: 180px;
    }
    .dropdown:hover .dropdown-content{
        display: block;
    }
    .dropdown-content a{
        display: block;
        margin: 5px auto;
        padding: 10px 20px;
        transition: 0.5 ease-out;
        color: rgb(18, 18, 56);
    }
    .dropdown-content a:hover{
        color: gold;
        font-size: 20px;
    }
    nav{
        padding-right: 150px;
        padding-left: 30px;
    }
    .collection{
        display: none;
    }
    .starting-boxes{
        width: 45%;
        height: 200px;
        margin-top: 10px;
     }
     .starting-page{
        flex-wrap: wrap;
        width: 90%;
     }
     .last-container{
        display: block;
        height: fit-content;
    }
    .small-last-container{
        margin-top: 20px;
        width: 30%;
    }
}